.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.food-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 20px 0;
}

.food-card {
    background-color: #839c7ec2;
    border-radius: 10px;
    padding: 15px;
    width: 250px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: left;
    flex-shrink: 0; 
}

.food-card img {
    max-width: 100%;
    border-radius: 10px;
}

.food-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.food-title {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.food-price {
    color: #ff2222;
    font-weight: bold;
    min-width: 50px;
    text-align: right;
}

.food-card p {
    margin: 5px 0;
    color: #504646;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    background-color: rgba(148, 147, 147, 0.555);
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}
